@*@model IEnumerable<LootCrate4.Models.Toy>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAccount</title>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-validate.unobtrusive.js")"></script>
</head>
<body>
    <br />
    <br />
    <div>
        <button class="btn btn-default" id="toyBtn">Toys</button>
        <button class="btn btn-default" id="vgBtn">VideoGames</button>
        <button class="btn btn-default" id="shirtBtn">Shirts</button>
        <button class="btn btn-default" id="bobbleBtn">BobbleHeads</button>
        <div class="btn btn-default" id="roleBtn">@Html.ActionLink("Create Role", "Index", "Role")</div>
        <div id="toyTable"></div>
        <div id="videoGamesTable"></div>
        <div id="shirtTable"></div>
        <div id="bobbleTable"></div>
        <script>

            $(document).ready(function () {
                var toyUrl = '@Url.Action("DisplaySearchResults", "Toys")';
                var vguUrl = '@Url.Action("DisplaySearchResults", "VideoGames")';
                var shirtUrl = '@Url.Action("DisplaySearchResults", "Shirts")';
                var bobbleUrl = '@Url.Action("DisplaySearchResults", "BobbleHeads")';
                var on = 0;
                $('#toyTable').load(toyUrl, { searchText: "" });
                $("#toyBtn").click(function () {
                    $('#toyTable').load(toyUrl, { searchText: "" });
                })
                $("#vgBtn").click(function () {
                    {
                        $('#toyTable').load(vguUrl, { searchText: "" });
                    }
                })
                $("#shirtBtn").click(function () {
                    {
                        $('#toyTable').load(shirtUrl, { searchText: "" });
                    }
                })
                $("#bobbleBtn").click(function () {
                    {
                        $('#toyTable').load(bobbleUrl, { searchText: "" });
                    }
                })
            });

        </script>
    </div>
    <h2> Table</h2>
    <table class="table" id="maintable">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="data-contact-person">
                <td>
                    <input type="text" name="f-name" class="form-control f-name01" />
                </td>
                <td>
                    <input type="text" name="l-name" class="form-control l-name01" />
                </td>
                <td>
                    <input type="text" name="email" class="form-control email01" />
                </td>
                <td>
                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
