@model IEnumerable<LootCrate4.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question1Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question2Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question3Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question1Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question2Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question3Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question4Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question5Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question6Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question7Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question8Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question9Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question10Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
